body {
  font-family: 'Lato', 'Helvetica', 'san-serif';
}

#home {
  min-height: 80vh;
  background: white no-repeat 50% 35%;
  color: white;
}
#home h3 {
  font-size: 54px;
}
#home h4 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 100;
}
#splash-image {
  background-image: url("../img/home-hero.png");
  background-size: cover;
  min-height: 80vh;
  padding: 0% 12%;
  position: relative;
}
@media (max-width: 1199px) {
  #splash-image {
    padding: 0% 5%;
  }
}
@media (max-width: 991px) {
  #splash-image {
    padding: 0% 7%;
  }
}
@media (max-width: 662px) {
  #splash-image {
    padding: 0% 5%;
  }
}
.splash-logo {
  height: 100px;
  margin-top: 150px;
}
.splash-logo img {
  height: 75px;
  margin-bottom: 30px;
  margin-left: 5px;
}
#splash-1 {
  
}
#splash-2 {

}
#splash-3 {
  
}
.home-container {
  position: relative;
  padding: 0px;
}
.email-signup {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 96.3%;
  background-color: rgba(255, 255, 255, 0.88);
  padding: 0px 30px;
}
#home input {
  background: none;
  border: none;
  font-size: 18px;
  padding-left: 5px;
  color: black;
  width: 100%;
}
#home input:focus {
  outline-width: 0;
}
.email {
  width: 50%;
  margin-left: 25px;
}
#home .button {
  color: white;
  background-color: #f49b1d;
  border: none;
  border-radius: 0px;
  height: 40px;
  font-size: 18px;
  font-weight: 200;
  width: 250px;
}
#home .social-row {
  margin-top: 140px;
}
@media (max-width: 444px) {
  #home .social-row {
    margin-top: 80px;
  }
}


#about {
  padding: 50px 0px 0px;
}

#about p {
  font-size: 24px;
  margin: 80px 0px;
}

#about-image {
  background: white no-repeat 50% 50%;
  background-image: url("../img/about-hero.png");
  background-size: cover;
  height: 50vh;
}

#venture h1 {
  margin-bottom: 0px;
}

#team .gray-background {
  padding-bottom: 150px;
}
#team .pic {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin: 40px 0px 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#team h4 {
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}
#team h5 {
  font-size: 16px;
  font-weight: 200;
  margin-right: 10px;
  margin-bottom: 15px;
}

#contact {
  padding: 0px;
  background: #e2e2e2;
}
#contact h1 {
  margin: 30px 0px;
}
#contact-hero {
  background: white no-repeat 50% 50%;
  background-image: url("../img/contact-hero.png");
  background-size: cover;
  width: 100%;
  color: white;
}
#contact .overlay {
  background-color: rgba(0,0,0,0.6);
  padding: 50px 0px 10px;
  min-height: 70vh;
}
#contact input {
  border-radius: 8px;
}
#contact textarea {
  border-radius: 8px;
}
#contact h4 {
  font-size: 16px;
  margin-bottom: 0px;
}
#contact h5 {
  font-size: 16px;
  margin-top: 3px;
  font-weight: 200;
}
.contact-header {
  margin: 0px 15px 30px;
}

h1 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

p {
  font-weight: 200;
  text-align: center;
}

.gray-background {
  background: #efefef;
  padding: 50px 0px;
}

.lines {
  width: 69.5%;
  margin: 10px 0px;
}

.social-row {
  margin-top: 20px;
}
.social-icon {
  margin: 5px;
  height: 40px;
  width: 40px;
}
.social-icon:hover {
  -o-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.image-holder {
  height: 70px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding: 5px 8px;
    margin: 10px 7px;
  }
}

.navbar-brand img {
  height: 28px;
}

.button {
  color: white;
  background-color: #f49b1d;
  border: none;
  border-radius: 0px;
  width: 250px;
  height: 40px;
}

.full-width-image {
  width: 100%;
}

footer {
  padding: 20px 0px;
}

.active {
  border-bottom: 2px solid #f49b1d;
}

.centered-text {
  text-align: center;
}

/* FLEX */
.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.space-around-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a5a5;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a5a5a5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #a5a5a5;
}

/* tablet */
@media (max-width: 991px) {
  #home h3 {
    font-size: 40px;
  }
  #home h4 {
    font-size: 30px;
  }
  .splash-logo {
    height: 100px;
    margin-top: 150px;
  }
  .splash-logo img {
    height: 50px;
    margin-bottom: 20px;
  }
  .email-signup {
    bottom: 37px;
  }
}

/* mobile */
@media (max-width: 767px) {
  #home h3 {
    font-size: 40px;
  }
  #home h4 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 100;
  }
  .splash-logo {
    height: 100px;
    margin-top: 150px;
  }
  .splash-logo img {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .email {
    margin-left: 0px;
    width: 60%;
  }
  #home .button {
    color: white;
    background-color: #f49b1d;
    border: none;
    border-radius: 0px;
    height: 40px;
    font-size: 18px;
    font-weight: 200;
    width: 140px;
  }

  #venture h1 {
    margin-bottom: 20px;
  }
  #venture img {
    margin: 30px 0px 20px;
  }
  #venture .image-holder {
    height: 100px;
  }
  #contact .button {
    align-self: center;
  }

  .navbar-nav>li>a {
    width: 150px;
  }
}

@media (max-width: 639px) {
  #home #splash-1 {
    font-size: 30px;
  }
  #home #splash-2 {
    font-size: 24px;
  }
  #home #splash-3 {
    font-size: 24px;
  }
}

@media (max-width: 344px) {
  #home #splash-1 {
    font-size: 24px;
  }
  #home #splash-2 {
    font-size: 22px;
  }
  #home #splash-3 {
    font-size: 22px;
  }
}

@media (max-width: 525px) {
  .email-signup {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
  }
  .email {
    width: 70%;
    text-align: center;
    margin: 0px 0px 10px;
  }
  #home .button {
    color: white;
    background-color: #f49b1d;
    border: none;
    border-radius: 0px;
    height: 40px;
    font-size: 18px;
    font-weight: 200;
    width: 200px;
  }
}

@media (max-width: 372px) {
  .navbar-brand img {
    height: 18px;
  }
}

#loading-screen {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(0deg, #a7a7a7 0%, #dadada 100%);
  position: fixed;
  z-index: 100;
  justify-content: center;
}

.spinner {
  height: 300px;
  width: 300px;
}

#loading-screen img {
  height: 100px;
  width: 200px;
}
